<a href="https://colab.research.google.com/github/EtMorteus/BRAC-CSE/blob/CSE110(Summer2023)/110L5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1
a=[]
c=0
while c<=4:
  x=input()
  a.append(x)
  c+=1
print(a)

5
10
5
6
7
['5', '10', '5', '6', '7']

In [18]:
#2
a=[]
b=[]
c=0
n=int(input("elemnumb:"))
while c<n:
  x=input("")
  a.append(x)
  c+=1
if len(a)>=4:
  b.append(a[2:-2])
else:
  print("Not Possible")
print(b)

elemnumb:4
10
20
30
40

In [28]:
#3
c=0
a=[]
while c<=4:
  x=input()
  a.append(x)
  c+=1
print("Printing values in reverse order:")
for i in a[::-1]:
  print(i)

1
2
3
4
5
Printing values in reverse order
5
4
3
2
1

In [8]:
#4
a=[1,2,3,4,5,6,7]
b=[]
for i in a:
  b.append(i**2)
print(b)

[1, 4, 9, 16, 25, 36, 49]

In [4]:
#5
a=["hey","there", "","what's","","up","","?"]
for i in a:
  if i=="":
    a.remove(i)
print(a)

['hey', 'there', "what's", 'up', '?']

In [19]:
#6
x="7,13,2,10,6,-11,0"
c=0
d=0
a=x.split(',')
for i in a:
  if int(i)>c:
    c=int(i)
    d+=1
print(f"The largest value is {c} at the index {d-1}")

The largest value is 13 at the index 1

In [27]:
#7
a=[1,7,4,5]
b=[6,1,3,9]
c=a[:-1]+b
print(c)

[1, 7, 4, 6, 1, 3, 9]

In [44]:
#8
a=[1,2,3,4,5,6,7,8,9]
b= [10,11,12,-13,-14,-15,-16]
c=[]
for i,j in zip(a,b):
  if i%2==0:
    c.append(i)
  if j%2==0:
    c.append(j)
print(c)

[10, 2, 12, 4, -14, 6, -16]

In [3]:
#9
x='7 12 4 55 96 2 11 61 33 42'
y=[]
z=[]
z1 = ''
for i in x:
    if i == ' ':
        y.append(z1)
        z1 = ''
    else:
        z1 += i
for i in y:
  if int(i)%2!=0:
    z.append(i)
print(f'Og list:{y}\nMod list{z}')

Og list:['7', '12', '4', '55', '96', '2', '11', '61', '33']
Mod list['7', '55', '11', '61', '33']

In [17]:
#10
a="0,0,1,2,3,4,4,5,6,6,6,7,8,9,4,4"
b=a.split(",")
c=[]
for i in b:
  if i not in c:
    c.append(i)
print(f"Og list{b}\nMod list{c}")

Og list['0', '0', '1', '2', '3', '4', '4', '5', '6', '6', '6', '7', '8', '9', '4', '4']
Mod list['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [20]:
#11
a=[1,2,3,4,5]
b=[6,7,8,9,1]
flag=False
for i in a:
  if i not in b:
    flag=False
  else:
    flag=True
  break
print(flag)

True

In [20]:
#12
x='7 12 4 55 96 2 11 61 33 42'
y=''
y+=x.replace(" ",",")
print(y)

7,12,4,55,96,2,11,61,33,42