<a href="https://colab.research.google.com/github/EtMorteus/BRAC-CSE/blob/CSE110(Summer2023)/110L6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#2
a=(10, 20, 24, 25, 26, 35, 70)
print(a[2:-2])

(24, 25, 26)

In [ ]:
#3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of tuple:",len(book_info))
for i in book_info:
  print(i)

Size of tuple: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
a,b,c,d=book_info
for i in a,b,c,d :
  print(f"{i[1]} won '{i[0]}' with {i[2]} votes")

The Silent Patient won 'Best Mystery & Thriller' with 68821 votes
The Institute won 'Best Horror' with 75717 votes
The five won 'Best History & Biography' with 31783 votes
The Testaments won 'Best Fiction' with 98291 votes

In [ ]:
#6
a= ('a','b','c','d','e','f','g','h')
b=[]
for i in range(len(a)-1,-1,-1):
  b.append(a[i])
print(tuple(b))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#7
a={'Harry':15, 'Draco':8, 'Nevil':19}
b={'Ginie':18, 'Luna': 14}
c=a | b
print(c)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#8
a={}
b=int(input("Enter Size:"))
c=0
avg=0
while c<b:
  key=input("Key:")
  value=input("Value:")
  a[key]=value
  c+=1
for value in a.values():
  avg+=int(value)//b
print("The average is",avg)

Enter Size:3
Key:kk
Value:100
Key:bb
Value:200
Key:cc
Value:300
The average is 200.0

In [25]:
#9
e= {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
x=int(input())
y={}
for i,j in e.items():
  if int(j)>x:
    y.update({i:j})
print(y)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [6]:
#10
a={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
x=0
for i,j in a.items():
  if j>x:
    x=j
    t=i
print(f'The highest selling book genre is "{t}" and the number of books sold are {x}.')

The highest selling book genre is "mystery" and the number of books sold are 15.

In [40]:
#11
x=input().lower().replace(' ','')
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [18]:
#12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
c=0
for i,j in dict_1.items() :
  for k in j:
    c+=1
print(c)

9

In [38]:
#13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
x={}
for i,j in list_1:
  if i in x:
   x[i].append(j)
  else:
   x[i]=[j]
print(x)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}