<a href="https://colab.research.google.com/github/EtMorteus/BRAC-CSE/blob/CSE220(Fall2022)/Lab06_22301449_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#task1.1
def recur_factorial(n):
  if n==1:
    return n
  else:
    return n*recur_factorial(n-1)

num=int(input())
if num <1:
  print("Invalid")
elif num==0:
   print(1)
else :
   print("The Factorial of",num,"is",recur_factorial(num))

9
The Factorial of 9 is 362880

In [ ]:
#FlattenList


def flattenList(given_list, output_list):
   if len(given_list)==0:
     return
      
   elif type(given_list[0])==list:
     flattenList(given_list[0],output_list)
     flattenList(given_list[1:],output_list)
   else:
     output_list.append(given_list[0])
     flattenList(given_list[1:],output_list)

     return output_list
a=flattenList([1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]],[])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [ ]:
#task 1.2
def fibonacci(n):
  if n<0:
    return "Invalid"
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)

print(fibonacci(10))

34

In [ ]:
#task 1.3
def print_array( a , n):

   

    if (n>=0):

        print_array(a,n-1)
        print(str(a[n]) + " at index " + str(n))
print_array( [1,2,3,4,5,6], 5)

1 at index 0
2 at index 1
3 at index 2
4 at index 3
5 at index 4
6 at index 5

In [ ]:
#Task 1.4
def powerN(base,n):
  if n==0:
    return 1
  elif n==1:
    return base
  else:
    return base**n
powerN(2,2)

4

In [ ]:
#task 2.1
def binaryconverter(n):
  a=0
  if n>0:
    binaryconverter(n//2)
    print(n % 2,end = '')
  
binaryconverter(5)

101

In [ ]:
#task2.2
class Node:
  def __init__(self,element,next=None):
    self.element=element
    self.next=next
class LinkedList:
  def __init__(self, data):
    self.head = None 
    if type(data) == list:
      for i in range(0,len(data)):
        n2 = Node(data[i],None)
        if (self.head == None):
          self.head = n2
          tail = n2
        else:
          tail.next = n2
          tail = n2
    if type(data)==Node:
      self.head = data

  def printList(self):
    n = self.head
    while n != None:
      if n != None:
        print(n.element,end=' ')
      else:
        print(n.element)
      n = n.next

  def add(self,p):
    self.head = p
    n = self.head
    if (n==None):
      return 0
    else:
      return n.element+self.add(n.next)

      
a = [10,20,30,40]
z = LinkedList(a)
print(z.add(z.head))

100

In [ ]:
#task 2.3
class Node:
  def __init__(self, element, n):
    self.element = element
    self.next = n

class LinkedList:
  def __init__(self, data):
    self.head = None 
    if type(data) == list:
      for i in range(0,len(data)):
        x = Node(data[i],None)
        if (self.head == None):
          self.head = x
          tail = x
        else:
          tail.next = x
          tail = x
    if type(a)==Node:
      self.head = a

  def recurse(self,h):
    if h == None:
      return
    else:
      self.recurse(h.next)
      print(h.element)

a = [1,2,3,4,5,6,7]
y = LinkedList(a)
(y.recurse(y.head))

7
6
5
4
3
2
1

In [ ]:
#Task3
def hocBuilder(height):
  if height==0:
    return "Invalid"
  elif height==1:
    return 8
  else:
    return 8+(5*height)
hocBuilder(3)

23

In [ ]:
#Task4.1
def column(n):
  if n>=1:
    column(n-1)
    print(row(n))

def row(n):
  if n>1:
    print(row(n-1),end=" ")
    return n
  else:
    return n

n = 5
column(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Task4.2
def gap(a):
  if a == 0:
    return
  print(" ",end =" ")
  gap(a-1)

def numbers(b):
  if b == 0:
    return b
  numbers(b-1)
  print(b, end=" ")

def steps(x,y):
  if x == 0:
    return 
  gap(x-1)
  numbers(y-x+1,)
  print()
  steps(x-1,y)

x = 5
steps(x,x)

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
#Task5
class FinalQ: 
 def print(self,array,idx): 
   if(idx<len(array)): 
     profit = self.calcProfit(array[idx])  #TO DO 
     print(f"Investment: {array[idx]}; Profit: {self.calcProfit(array[idx])}")
     self.print(array,idx+1)


  
 def calcProfit(self,investment): 
   if investment == 25000:
      return 0.0
   else:
      if investment<=100000:
        return self.calcProfit(investment-1000)+45.0
      else:
        return self.calcProfit(investment-1000)+80.0

    
  
#Tester 
array=[25000,100000,250000,350000] 
f = FinalQ() 
f.print(array,0)

Investment: 25000; Profit: 0.0
Investment: 100000; Profit: 3375.0
Investment: 250000; Profit: 15375.0
Investment: 350000; Profit: 23375.0